<body>
    <div [ngClass]="'banner-area'">
        <div [ngClass]="'centered-div'" class="text-center">
            <form [formGroup]="registerForm" class="form-singup justify-content-center">
                <br>
                <label> Username </label>
                <br>
                <input type="text" id="username" placeholder="Enter a Username..." formControlName="username" required>

                <br>
                <label> Email </label>
                <br>
                <input type="text" id="email" placeholder="Enter an Email..." formControlName="email" required>

                <br>
                <label> Full Name </label>
                <br>
                <input type="text" id="fullname" placeholder="Enter your Full Name..." formControlName="fullname" required>

                <br>
                <label> Password </label>
                <br>
                <input type="password" id="password" placeholder="Enter a Password..." formControlName="password" required>
                <br>
                <br>
                <button type="submit" class="btn btn-outline-info" (click)="onSubmit()"> Submit </button>
                <br>
                
                <div class="container">
                    <p>Already have an account? <a routerLink='/login'>Sign In</a>.</p>
                </div>
                <br>
                <div *ngIf="formControls.username.invalid && formControls.username.touched">
                    <div *ngIf="formControls.username.errors?.minlength" class="alert alert-danger"> Name must be at least 5 characters.</div>
                </div>
                <div *ngIf="formControls.password.invalid && formControls.password.touched">
                    <div *ngIf="formControls.password.errors?.minlength" class="alert alert-danger"> Password must be at least 8 characters.</div>
                </div>
                <div *ngIf="formControls.email.invalid && formControls.email.touched">
                    <div *ngId="formControls.email.errors?.email" class="alert alert-danger">Email must have email formatting</div>
                </div>
                <div *ngIf="formControls.username.touched || formControls.password.touched || formControls.email.touched">
                    <div *ngIf="formControls.email.errors?.required || 
                    formControls.username.errors?.required || formControls.password.errors?.required || formControls.fullname.errors?.required" class="alert alert-danger">
                        Must complete the required options.
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>